@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

@media screen and (min-width: 320px),
    screen and (min-height: 479px) 
    and (orientation: landscape) {
    body {
        margin: 0rem;
        background-color: white;
        font-family: 'Gaegu', cursive;
    }
    
    header {
        position: fixed;
        width: 100%;
        height: 4rem;
        background-color: black;
    }

    .visible {
        display: block;
        position: absolute;
        left: 0; /* aside를 왼쪽으로 이동 */
        top: 4rem; /* aside를 헤더 아래로 이동 */
        bottom: 0; /* aside의 높이를 꽉 채운다. */

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 20%;
        color: white;
        background-color: black;
        box-shadow: 5px 0 5px gray;
    }

    header a.profileMenu {
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%); 
        width: 1.5rem;
        height: 1.5rem;
        color: transparent;
        background: linear-gradient(#fff 50%, transparent 50%);
        background-size: 100% 0.62rem;
    }
    
    header a img {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);    
    }
    
    .wraper {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        min-height: 100vh;
        box-sizing: border-box;
    }
    
    .blogBody {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    
    aside {
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 20%;
        border-right: 1px solid black; */
        display: none;
    }
    
    .profile {
        margin-bottom: 3vh;
    }
    
    #profileImage {
        width: 4rem;
        height: 4rem;
        border-radius: 15px;
    }
    
    #profileName {
        font-size: 1.3rem;
    }
    
    #profileIntroduction {
        font-size: 1rem;
    }

    .goToAnotherBlog {
        font-size: 0.8rem;
    }
    
    .goToAnotherBlog .friendList {
        list-style: none;
        padding-left: 0rem;
    }
    
    .friendList li a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.6rem;
        text-decoration: none;
        color: white;
    }

    .friendList li a img {
        width: 1rem;
        height: 1rem;
        margin-right: 0.6rem;
    }
    
    article {
        width: 80%;
    }

    .articleTitle, .articleDate {
        text-align: center;
    }
    
    .contentsFrame {
        overflow-x: hidden; /* 가로 스크롤 숨김 */
        overflow-y: auto; /* 세로 스크롤만 보이도록 설정 */
        height: 69vh;
        border: 1px solid black;
    }

    .contents {
        display: flex;
        flex-direction: column;
        align-items: center; /* 가로 방향 중앙 정렬 */
        justify-content: center; /* 세로 방향 중앙 정렬 */
    }

    .contents p {
        text-align: center;
    }

    .emoji {
        width: 3rem;
        height: 3rem;
    }

    .catImg, .video {
        width: 40%;
        height: 40%;
        border-radius: 5px;
    }

    .talk {
        font-size: 0.8rem;
        color: gray;
    }

    #catFace:hover {
        content: url("../img/sh_cat_face2.png");
    }
    
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4rem;
        color: white;
        background-color: black;
    }
    
    footer p {
        position: absolute;
        left: 50%;
        bottom: 25%;
        transform: translate(-50%, 50%);
    }
}

@media screen and (min-width: 768px),
    screen and (min-height: 760px) and (max-height: 1023px) 
    and (orientation: landscape) {
    header a.profileMenu {
        display: none;
    }

    .blogBody {
        /* flex: 1;
        display: flex; */
        justify-content: space-between;
    }

    .visible {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 20%;
        border-right: 1px solid black;
        /* box-shadow: none; */
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 20%;
        color: white;
        border-right: 1px solid black;
        background-color: black;
        box-shadow: 5px 0 5px gray;
    }

    .profile {
        margin-bottom: 3vh;
    }

    #profileImage {
        width: 7rem;
        height: 7rem;
        border-radius: 15px;
    }

    #profileName {
        font-size: 1.5rem;
    }

    #profileIntroduction {
        font-size: 1.16rem;
    }

    .goToAnotherBlog {
        font-size: 1rem;
    }

    .goToAnotherBlog .friendList {
        list-style: none;
    }

    .friendList li a {
        text-decoration: none;
        color: white;
    }

    .friendList li a img {
        width: 1.25rem;
        height: 1.25rem;
    }

    article {
        width: 80%;
        margin: 0vh 2.5vw 0vh 2.5vw;
    }
}

@media screen and (min-width: 1024px),
    screen and (min-height: 1024px) 
    and (orientation: landscape) {
    #profileImage {
        width: 10rem;
        height: 10rem;
    }

    #profileName {
        font-size: 1.7rem;
    }
    
    #profileIntroduction {
        font-size: 1.4rem;
    }

    .goToAnotherBlog {
        font-size: 1.2rem;
    }

    .friendList li a img {
        width: 1.5rem;
        height: 1.5rem;
    }
}